{__NOLAYOUT__}
{include file="layout/header"}
<div class="breadcrumb">
    <a class="crumbs" title="返回首页" href="/">首页</a>
    <span><i></i></span>
    <i class="iconfont icon-chevronright">  </i>
    <a href="#">技术分享</a>
    <i class="iconfont icon-chevronright">  </i>
    <a href="">{{$tag}}</a>
</div>
<div id="content">
    <div id="primary" class="content-area">
        <div id="page">
            <div class="catepory-title">
                <div class="entry-header">
                    <h1>分类：《{{$tag}}》</h1>
                </div>
            </div>
            <main id="main" class="site-main" role="main">
                {volist name='article' id='vo'}
                <article id="post-112" class="post-112 post type-post status-publish format-standard hentry category-computer-technology tag-ie tag-56">
                    <div class="art-desc">
                        <h3 class="art-t"> <a href="{{:url('/detail',['aid'=>encrypt($vo.id)])}}" rel="bookmark" title="{{$vo.title}}">{{$vo.title}}</a> </h3>
                        <div class="more">
                            <a href="" rel="bookmark"><i class="iconfont icon-import"></i></a>
                        </div>
                        <div class="clear"></div>
                        <div style="min-height:150px;margin:20px">
                            <div class="art-img">
                                <a href="{{:url('/detail',['aid'=>encrypt($vo.id)])}}"><img src="/{{$vo.img_url}}" alt="{{$vo.title}}" /></a>
                            </div>
                            <span class="art-main">{{$vo.summary}}</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="art_ft">
                        <div class="art-pub">
                            <div class="views">
                                <i class="iconfont icon-chartbar"></i> {{$vo.view_count}}
                            </div>
                            <div class="cmnt">
                                <a href=""><i class="iconfont icon-messageprocessing">{{$vo.comment}}</i> 评论</a>
                            </div>
                        </div>
                        <div class="art-info">
                            <span class="archive"><i class="iconfont icon-archive" aria-hidden="true"></i> <a href="{{:url('/list',['cid'=>encrypt($vo.cate_id)])}}">{{$vo.cate_name}}</a></span>
                            <span class="data"><i class="iconfont icon-calendartext"></i>{{$vo.update_time|date='Y-m-d'}}</span>
                            <span class="tag"><i class="iconfont icon-tagmultiple"></i> <a href="" rel="tag">{{$vo.tag}}</a></span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </article>
                {/volist}
            </main>
            {{$article|raw}}
        </div>
        <nav id="nav-below">
            <div class="nav-next"></div>
            <div class="nav-previous">
                <a href=""></a>
            </div>
        </nav>
    </div>
    {include file="layout/side"}
    <!-- 友情链接 -->
    <!-- 版权说明 -->
    {include file="layout/footer"}
    <!-- 返回顶部 -->
    <ul id="scroll">
        <li><a class="hidden-widget" href="javascript:hiddenwidget()" title="隐藏侧边栏"><i class="iconfont icon-windowclose"></i></a></li>
        <li><a class="scroll-top" title="返回顶部"><i class="iconfont icon-chevronup"></i></a></li>
        <li><a class="scroll-bottom" title="转到底部"><i class="iconfont icon-chevrondown"></i></a></li>
    </ul>
    </header>

    </body>
    </html>