<!--后台首页header模板-->
<body>
<header class="navbar-wrapper">
    <div class="navbar navbar-fixed-top">
        <div class="container-fluid cl"> <a class="logo navbar-logo f-l mr-10 hidden-xs" href="/admin/index">博客天地</a> <a class="logo navbar-logo-m f-l mr-10 visible-xs" href="/admin/index">博客天地</a>
            <span class="logo navbar-slogan f-l mr-10 hidden-xs">1.1</span>
            <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
            <nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
                <ul class="cl">
                    <li>{if $Think.session.admin.super==1}
                        超级管理员
                    {else /}
                        管理员{/if}</li>
                    <li class="dropDown dropDown_hover">
                        <a href="#" class="dropDown_A">{{$Think.session.admin.username}}<i class="Hui-iconfont">&#xe6d5;</i></a>
                        <ul class="dropDown-menu menu radius box-shadow">
                            <li><a href="{{:url('/admin/logout')}}">切换账户</a></li>
                            <li><a href="{{:url('/admin/logout')}}">退出</a></li>
                        </ul>
                    </li>
                    <li id="Hui-msg"> <a href="#" title="消息"><span class="badge badge-danger">1</span><i class="Hui-iconfont" style="font-size:18px">&#xe68a;</i></a> </li>
                </ul>
            </nav>
        </div>
    </div>
</header>