<!--[if lt IE 9]>
{load href="__ADMIN__/lib/html5shiv.js" /}
{load href="__ADMIN__/lib/respond.min.js" /}
<![endif]-->
{css href="__ADMIN__/static/h-ui/css/H-ui.min.css" /}
{css href="__ADMIN__/static/h-ui.admin/css/H-ui.admin.css" /}
{css href="__ADMIN__/lib/Hui-iconfont/1.0.8/iconfont.css" /}
{css href="__ADMIN__/static/h-ui.admin/skin/default/skin.css" id="skin" /}
{css href="__ADMIN__/static/h-ui.admin/css/style.css" /}
<!--[if IE 6]>
{load href="__ADMIN__/lib/DD_belatedPNG_0.0.8a-min.js"  /}
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>{{$title}}</title>
<meta name="keywords" content="博客天地-展现你的天地">
<meta name="description" content="博客天地-展现你的天地">
</head>