<!-- 友情链接 -->
<!-- 版权说明 -->
<footer id="footer">
    <div class="bottom-nav">
        <div class="menu-container">
            <ul id="menu" class="bottom-menu">
                <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="">文章归档</a></li>
                <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a href="">站点地图</a></li>
                <li id="menu-item-65" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65"><a href="">给我留言</a></li>
                <li id="menu-item-66" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-66"><a href="">友情链接</a></li>
            </ul>
        </div>
    </div>
    <div id="contentinfo">
        Copyright &copy; 2007-2018
        <a href="" rel="home">Fallen</a> All rights reserved. by zyt-fallen
    </div>
</footer>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        loop: true, /**循环**/
        autoplayDisableOnInteraction: false,
        direction: 'vertical',	/**切换方向**/
        speed: 500,  /**幻灯片切换时间**/
        autoplay: 5000, /**设置，自动播放开启，并设置停留时间**/
        paginationClickable: true, /**导航可以点击**/
        effect: 'flip', /**切换效果**/
    });
</script>
