﻿<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>博客天地</title>
    <meta name="description" content="博客天地-展现你的天地" />
    <meta name="keywords" content="博客天地-展现你的天地" />
    <!--[if lt IE 9]>
    <script src="/__HOME__/js/html5.js"></script>
    <script src="/__HOME__/js/css3-mediaqueries.js"></script>
    <![endif]-->
    <link rel="stylesheet" id="crayon-font-mydream-css" href="/__HOME__/css/mydream.css" type="text/css" media="all" />
    <link rel="stylesheet" id="style-css" href="/__HOME__/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" id="swiper-css-css" href="/__HOME__/css/swiper.min.css" type="text/css" media="all" />
    <script type="text/javascript" src="/__HOME__/js/jquery.min.js"></script>
    <link rel='stylesheet' id='iconfont-css'  href='/__HOME__/css/font.css' type='text/css' media='all' />
    <script src="/__HOME__/js/swipe.jquery.min.js"></script>
</head>
<body>
<header id="masthead" class="site-header">
    <div id="fix-header"></div>
    <div id="menu-box">
        <div id="main-menu">
            <hgroup class="logo-sites">
                <h1 class="site-title"> <a href="/"><img src="/__HOME__/images/logo.png" alt="blog" /></a> </h1>
            </hgroup>
            <div id="user-profile">
						<span class="nav-set">
				 	<span class="nav-login">
				 						<a href="#login" class="flatbtn" id="login-main" ><i class="iconfont icon-login"></i>登录</a>
										</span>
				</span>
            </div>
            <div id="sidr-close">
                <a href="#sidr-close" class="toggle-sidr-close">&times;</a>
            </div>
            <a href="#sidr-main" id="navigation-toggle" class="bars"><i class="iconfont icon-viewheadline"></i></a>
            <div id="site-nav-wrap">
                <nav id="site-nav" class="main-nav">
                    <div class="menu-container">
                        <ul id="menu" class="down-menu nav-menu">
                            {if isset($cur)}
                            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item"><a href="/"><i class="iconfont icon-home"></i>首页</a></li>
                            {else /}
                            <li class="menu-item menu-item-type-custom menu-item-object-custom  current_page_item"><a href="/"><i class="iconfont icon-home"></i>首页</a></li>
                            {/if}
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children" id="jishu"><a href="#"><i class="iconfont icon-codebraces"></i>技术分享</a>
                                <ul class="sub-menu">
                                    {volist name="cate" id="vo"}
                                    {if isset($cate_id)&&$cate_id==$vo.id}
                                    <script type="text/javascript">
                                        $('#jishu').addClass('current-menu-item');
                                    </script>
                                    {else /}
                                    {/if}
                                    <li  class="menu-item menu-item-type-taxonomy  menu-item-object-category"><a  href="{{:url('/list',['cid'=>encrypt($vo.id)])}}"><i class=""></i>{{$vo.cate_name}}</a></li>
                                    {/volist}
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category " ><a href="/au3"><i class="iconfont icon-codebraces"></i>AU3编程</a>
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category " ><a href="#"><i class="iconfont"></i>给我留言</a>
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category " ><a href="#"><i class="iconfont "></i>友情链接</a>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="clear"></div>
    </div>