<!-- 右侧开始-->
<div id="sidebar" class="widget-area">
    <!-- 右侧搜索框开始-->
    <aside id="search-2" class="widget widget_search">
        <div id="searchbar">
            <form method="get" id="searchform" action="www.lampol-blog.com/">
                <input type="text" value="" name="s" id="s" placeholder="输入搜索内容" required="" />
                <button type="submit" id="searchsubmit">搜索</button>
            </form>
        </div>
        <div class="clear"></div>
    </aside>
    <!-- 右侧搜索框结束-->
    <!-- 右侧分类开始-->
    <aside id="categories-2" class="widget widget_categories">
        <h3 class="widget-title"><i class="iconfont icon-viewgrid"></i>分类目录</h3>
        <ul>
            {volist name="cate" id="vo"}
            <li class="cat-item cat-item-6" id="zzz"><i class="iconfont"></i><a href="{{:url('/list',['cid'=>encrypt($vo.id)])}}">{{$vo.cate_name}}</a> </li>
            <!--{if isset($cate_id)&&$cate_id==$vo.id}-->
            <script type="text/javascript">
                $('#zzz').addClass('current-menu-item');
            </script>
            <!--{/if}-->
            {/volist}
            <li class="cat-item cat-item-6" id="zzz"><i class="iconfont"></i><a href="/au3">AU3编程</a> </li>
        </ul>
        <div class="clear"></div>
    </aside>
    <!-- 右侧分类结束-->

    <!-- 近期文章开始-->
    <aside id="recent-posts-2" class="widget widget_recent_entries">
        <h3 class="widget-title"><i class="iconfont icon-viewgrid"></i>近期文章</h3>
        <ul>
            {volist name="new_art" id="vo"}
            <li> <a href="{{:url('/detail',['aid'=>encrypt($vo.id)])}}">{{$vo.title}}</a></li>
            {/volist}
        </ul>
        <div class="clear"></div>
    </aside>
    <!-- 近期文章结束-->
    <aside id="img_cat-2" class="widget img_cat">
        <h3 class="widget-title"><i class="iconfont icon-viewgrid"></i>最多评论</h3>
        <div class="img_cat">
            <ul>
                {volist name="most" id="vo"}
                <div class="img-box">
                    <div class="img-x2">
                        <figure class="insets">
                            <a href="{{:url('/detail',['aid'=>encrypt($vo.id)])}}"><img src="/{{$vo.img_url}}" alt="{{$vo.title}}" /></a>
                            <div class="img-title">
                                <a href="{{:url('/detail',['aid'=>encrypt($vo.id)])}}" rel="bookmark">{{$vo.title}}</a>
                            </div>
                        </figure>
                    </div>
                </div>
                {/volist}
                <div class="clear"></div>
            </ul>
        </div>
        <div class="clear"></div>
    </aside>

    <!-- 人们标签开始-->
    <div class="sidebar-roll">
        <aside id="tag_cloud-2" class="widget tag_cloud">
            <h3 class="widget-title"><i class="iconfont icon-viewgrid"></i>热门标签</h3>
            <div class="tagcloud">{volist name="tags" id='vo'}
                <a href="{{:url('/tag/'.encrypt($vo.tag))}}" class="tag-cloud-link tag-link-14 tag-link-position-3" style="color:#84dde8;font-size: 15px;;">{{$vo.tag}}</a>
                {/volist}
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </aside>
    </div>
    <!-- 热门标签结束-->
</div>
<div class="clear"></div>
</div>
